<footer>
    <div class="logo">
        <img src="assets/Logo.png" height="59" width="135"/>
    </div>
    <div class="social-media">
        <h2>Follow us</h2>
        <ul>
            <a><img src="assets/linkedin.png" /></a>
            <a><img src="assets/facebook.png" /></a>
            <a><img src="assets/instagram.png" /></a>
            <a><img src="assets/twitter.png" /></a>
        </ul>
    </div>
    <div class="useful-links">
        <h2>Useful Links</h2>
        <ul>
            <li><a>Our Projects</a></li>
            <li><a>FAQ`s</a></li>
            <li><a>News and Updates</a></li>
        </ul>
    </div>
    <div class="contacts">
        <h2>Contacts</h2>
        <ul>
            <li><a>Adress:4-5 Main road</a></li>
            <li><a>Email: educare@email.com</a></li>
            <li><a>Phone Number: +12 345678910</a></li>
        </ul>
    </div>
</footer>