nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F9E0AE ;
    width: 100vw;
    height: 124px;
}
.navigation{
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        li{
            margin: 10px;
            a{
                color: #000;
                cursor:pointer;
                text-decoration: none;
                font-size:1.2rem;
                font-weight: bold;
                &:active{
                    color:#000;
                }
                &:hover{
                    color:#000;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
button{
    border:none;
    border-radius: 10px;
    font-family: 'Poppins'; 
    font-weight: bold;
    padding: 6px;
    font-size: 20px;
    background-color: #C24914 ;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    &:hover{
        cursor: pointer;
    }
}