section{
    height: 80vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
h2{
    font-weight: 600;
    font-size: 3rem;
    font-family: 'Poppins';
    word-wrap:break-word;
    line-height: 3.5rem;
    margin-left: -10px;
    margin-bottom: 30px;
}
.objections-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px;
    ul{
        list-style: disc;
        word-wrap: break-word;
        li{
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
    }
}